

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background:radial-gradient(top center,hsl(214, 47%, 23%),hsl(237, 49%, 15%));
    gap: 5vh;
}
.header{
    margin-top: 5vh;
    outline: 5px solid rgba(255, 255, 255, 0.1);
    display: flex;
    width: 80vw;
    max-width: 700px;
    align-items: center;
    padding:10px;
    border-radius: 10px;
    height: min-content;
}
.logo{
    margin: 15px;
    height: 80px;
}
.filler{
    flex-grow: 1;
}
.score{
    height: 80px;
    aspect-ratio: 1.3/1;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    align-items: center;
    justify-content: center;

}
.score_title{
    color: blue;
    letter-spacing: 2px;
    font-size: 15px;
    margin :0;
    opacity: .8;
}
.score_number{
    opacity: 0.7;
    font-size: 50px;
    margin: 0;
    line-height: 45px;
}
.main{
    z-index: 1;
    margin: auto;
    position: relative;
}
.item{
    
    z-index: 5;
    position: absolute;

    width: var(--item-height);
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.3s;
}
.item:hover{
    transform: scale(1.1);
}
.item::after,.item::before{
    z-index: 10;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100% ;
    border-radius: 50%;
    transition:  0.3s;
}
.item:hover::before{
    transform: none;
}
.paper:hover::after{
    box-shadow: 0 0 0 20px rgb(92, 81, 241), 0 0px 0 20px rgb(55, 40, 121);
}
.item:active{
    transform: scale(.9)
}
.paper{
    top: var(--half-item);
    left: var(--half-item);
    box-shadow: 0 0 0 20px rgb(92, 81, 241);
}
.paper::before{
    box-shadow: 0 0 0 20px rgba(121, 121, 121, 0.877) ;
    transform: translateY(5px);
    
}
.paper::after{
    box-shadow: 0 0 0 20px rgb(92, 81, 241), 0 6px 0 20px rgb(55, 40, 121);
}


.scissor{
    top:var(--half-item);
    right: var(--half-item);
}
.scissor::before{
    box-shadow: 0 0 0 20px rgba(121, 121, 121, 0.877) ;
    transform: translateY(5px);
    
}
.scissor::after{
    box-shadow: 0 0 0 20px rgb(224, 207, 52), 0 6px 0 20px rgb(145, 142, 3);
}
.scissor:hover::after{
    box-shadow: 0 0 0 20px rgb(224, 207, 52), 0 0px 0 20px rgb(145, 142, 3);
}
.rock{
    bottom: var(--half-item);
    left: calc(50% - 60px);
}
.rock::before{
    box-shadow: 0 0 0 20px rgba(121, 121 , 121, 0.877) ;
    transform: translateY(5px);
    
}
.rock::after{
    box-shadow: 0 0 0 20px rgb(219, 70, 70), 0 6px  0 20px rgb(109, 1, 1);
}
.rock:hover::after{
    box-shadow: 0 0 0 20px rgb(219, 70, 70), 0 0px  0 20px rgb(109, 1, 1);
}


.rules_button{
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    border: none;
    outline: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-weight: 600;
    letter-spacing: 2px;
}

.rules{
    position: fixed;
    z-index: 100;
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    display: grid;
    place-items: center;
}

.desktop_rules{
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.desktop_rules_header{
    display: flex;
    margin-bottom: 30px;
    font-size: 30px;
}
.desktop_rules_close{
    opacity: 0.5;
    font-size: 30px;
    border: none;
    background-color: transparent;

}
.mobile_rules{
    display: none;
}

@media (max-width:700px) {
    .logo{
        height: 50px;
    }
    .rules_button{
        right: auto;
    }
    .rules_button{
        position: relative;
    }
}
